<%- include("./_partials/header.ejs") %>

<div class="vk-login-container">
  <div class="bg-login"></div>
  <div class="login">
    <div class="login-header">
      <img src="/img/logo-vkgamestore.png" alt="Logo VKGames Store" class="logo">
      <p>Solicitação não permitida.</p>
    </div>
    <div>
      <p><%= error %></p>
      <a href="/" class="vk-btn-principal" style="margin-top: 20px;">Voltar</a>
    </div>
  </div>
</div>

<%- include("./_partials/footer.ejs") %>
