<%- include("./_partials/header.ejs") %>

<div class="vk-login-container">
  <div class="bg-login"></div>
  <div class="login">
    <div class="login-header">
      <img src="/img/logo-vkgamestore.png" alt="Logo VKGames Store" class="logo">
      <p>Painel Administrativo</p>
    </div>
    <form action="/vkgames/admin/login" method="post" class="vk-formulario">
      <div class="campos">
        <label for="user_name">Usuário</label>
        <input type="text" name="user_name" id="user_name">
      </div>
      <div class="campos">
        <label for="user_pwd">Senha</label>
        <input type="password" name="user_pwd" id="user_pwd">
      </div>
      <div class="form-acoes">
        <button type="submit" class="vk-btn-principal">Acessar</button>
        <button class="btn-recuperar-acesso" data-admin="recuperar-acesso">Recuperar Acesso</button>
      </div>
    </form>
  </div>
</div>

<% if(vkNotification.message) { %>
  <%- include("./_partials/vknotification.ejs") %>
<% } %>

<%- include("./_partials/popuprecovery.ejs") %>

<%- include("./_partials/footer.ejs") %>
