<%- include("./_partials/header.ejs") %>

<%- include("./_partials/nav.ejs") %>

<div class="vk-container-geral">

  <div class="page-container">

    <div class="vk-pageheader-container">

      <h1>Painel</h1>
      <div>
        <h2>Olá, <%= actualUserLogged.name %></h2>
        <p>Boas vindas ao painel!</p>
      </div>

    </div>
    
    <div class="content-container">

      <p>Conteúdo</p>

    </div>
    
  </div>

</div>

<%- include("./_partials/footer.ejs") %>
