<%- include("./_partials/header.ejs") %>

<div class="vk-login-container">
  <div class="bg-login"></div>
  <div class="login">
    <div class="login-header">
      <img src="/img/logo-vkgamestore.png" alt="Logo VKGames Store" class="logo">
      <p>Recuperação de conta.</p>
    </div>
    <div>
      <form action="/vkgames/recovery" method="post" class="vk-formulario">
        <div class="campos">
          <label for="code_token">Código</label>
          <input type="text" name="code_token" id="code_token" value="<%= sToken %>" readonly>
        </div>
        <div class="campos">
          <label for="user_pwd">Nova Senha</label>
          <input type="password" name="user_pwd" id="user_pwd">
        </div>
        <div class="campos">
          <label for="user_pwd_confirm">Confirmar Senha</label>
          <input type="password" name="user_pwd_confirm" id="user_pwd_confirm">
        </div>
        <button type="submit" class="vk-btn-principal">Atualizar</button>
      </form>
    </div>
  </div>
</div>

  <% if(vkNotification.message) { %>
    <%- include("./_partials/vknotification.ejs") %>
  <% } %>

<%- include("./_partials/footer.ejs") %>
