<%- include("./_partials/header.ejs") %>

<div class="vk-login-container">
  <div class="bg-login"></div>
  <div class="login">
    <div class="login-header">
      <img src="/img/logo-vkgamestore.png" alt="Logo VKGames Store" class="logo">
      <p>Recuperação de conta.</p>
    </div>
    <div>
      <p>Senha Atualizada com sucesso.</p>
      <a href="/vkgames" class="vk-btn-principal" style="margin-top: 20px;">Login</a>
    </div>
  </div>
</div>

<%- include("./_partials/footer.ejs") %>
