.content-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid;
  height: 560px;
  overflow-y: scroll;
  padding: 20px;
}

.content-container .game-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 100px;
  border-bottom: 1px solid #c7c7c7;
  padding: 8px;
}

.content-container .game-card-container figure img {
  height: 80px;
  width: 80px;
  margin: auto;
  transition: transform .1s ease-in-out;
}

.content-container .game-card-header h2 {
  font-size: 18px;
  line-height: 1.3;
}

.content-container .game-card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-around;
}

.content-container .game-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.games-edit-container {
  display: grid;
  grid-template-columns: 6fr 5fr 1fr;
}

.painel-infos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
}

.painel-infos-container .painel-infos {
  border: 1px solid #c7c7c7;
  position: relative;
  display: grid;
  padding: 12px;
  text-align: center;
  gap: 20px;
}

.painel-infos-container .painel-infos p {
  width: 60px;
  height: 60px;
  font-size: 24px;
  line-height: 1;
  border: 1px solid #76d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #76d;
  color: #fff;
  margin: auto;
}
