* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', sans-serif;
  color: #555;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  -o-object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

button:disabled {
  pointer-events: none;
  filter: grayscale(100%);
  opacity: .4;
}

.vk-container-geral {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.vk-titulo-principal {
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
}

.logo {
  height: 80px;
}

.vk-btn-principal {
  padding: 12px 40px;
  background: #76d;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  color: #fff;
  text-align: center;
  align-self: flex-start;
}

.vk-btn-principal:hover {
  background: #523CD7;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f8f8f8;
  padding: 12px 0;
  border-top: 1px solid #D9D9D9;
}

footer a:hover {
  color: #523CD7;
}
