#popup-recuperar-acesso {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 999;
  justify-content: flex-end;
}

#popup-recuperar-acesso .recuperar-acesso {
  padding-left: 80px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 9999;
}

#popup-recuperar-acesso .recuperar-acesso > div p {
  margin-top: 8px;
}

#popup-recuperar-acesso .recuperar-acesso form {
  margin-top: 40px;
}

#popup-recuperar-acesso .recuperar-acesso button {
  align-self: flex-start;
}

#popup-recuperar-acesso .recuperar-acesso .recovery-feedback {
  visibility: hidden;
  height: 20px;
}

#popup-recuperar-acesso.active {
  display: flex;
}

#popup-recuperar-acesso.active .recuperar-acesso {
  animation: slideLeft .3s ease-in-out forwards;
}

#popup-recuperar-acesso.active .recuperar-acesso .recovery-feedback {
  visibility: visible;
}

@keyframes slideLeft {
  from {
    transform: translate3d(-32px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
