.table-list {
  border: 1px solid #523CD7;
  width: 100%;
}

.table-list th,
.table-list td {
  padding: 12px;
}

.table-list th {
  text-align: left;
}

.table-list td {
  background: #eeeeee;
}

.table-list td.acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.table-list td.acoes img {
  height: 24px;
  flex: 1;
  cursor: pointer;
  object-fit: contain;
}

.table-list td.acoes img:hover {
  transform: scale(1.2);
}

.table-list td.acoes img[data-admin="user-edit"]:hover {
  filter: drop-shadow(0 0 4px #ce550f);
}

.table-list td.acoes img[data-admin="user-delete"]:hover {
  filter: drop-shadow(0 0 4px #e41717);
}
