<%- include("../_partials/header.ejs") %>

<%- include("../_partials/nav.ejs") %>

<div class="vk-container-geral">
  
  <h1>Novo Jogo</h1>
  
  <form action="/games/new" method="POST" enctype="multipart/form-data">
    <div class="campos">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="campos">
      <label for="price">Preço</label>
      <input type="text" name="price" id="price">
    </div>
    <div class="campos">
      <label for="stock">Estoque</label>
      <input type="text" name="stock" id="stock">
    </div>
    <div class="campos">
      <label for="avaliable">Disponível</label>
      <input type="checkbox" name="avaliable" id="avaliable">
    </div>
    <div class="campos">
      <label for="url_cover">Capa</label>
      <input type="file" accept="image/jpeg, image/png, image/gif, image/webp" name="url_cover" id="url_cover">
    </div>
    <button type="submit">Cadastrar</button>
  </form>

  <% if(vkNotification.message) { %>
    <%- include("../_partials/vknotification.ejs") %>
  <% } %>

</div>

<%- include("../_partials/footer.ejs") %>
