
  <footer>
    <p>VKGames Store | Copyright - <%= new Date().getFullYear() %></p>
    <p><a href="https://victorjardim.dev" target="_blank">DevBy VKDev</a></p>
  </footer>

  <script src="/js/script.js" type="module"></script>
</body>
</html>
