<header>
  <nav class="vk-container-geral">
    <a href="/vkgames">
      <img src="/img/logo-vkgamestore.png" alt="Logo VKGames Store" class="logo">
    </a>
    <div>
      <ul class="menu-list">
        <li><a href="/vkgames/painel">Painel</a></li>
        <li><a href="/vkgames/games">Jogos</a></li>
        <li><a href="/vkgames/users">Usuários</a></li>
        <li>
          <a href="/vkgames/logout" data-admin="logout">
            Sair
            <img src="/img/icons/icon_logout.png" alt="Ícone logout">
          </a>
        </li>
      </ul>
    </div>
    <img src="/img/icons/icon_menu.png" class="nav-icon-mobile">
  </nav>
</header>
