<div id="popup-recuperar-acesso">
  <div class="recuperar-acesso">
    <div>
      <h2>Recuperar Acesso</h2>
      <p>Digite seu e-mail para recuperar seu acesso ao painel.</p>
    </div>
    <form action="#" method="post" class="vk-formulario" id="recovery-form">
      <div class="campos">
        <label for="e-mail">E-mail</label>
        <input type="email" name="email" id="email">
      </div>
      <button type="submit" class="vk-btn-principal recovery-send">Enviar</button>
    </form>
    <div class="recovery-feedback"></div>
  </div>
</div>
