<div id="vk-confirm-popup-container">
  <div class="vk-confirm-popup">
    <h2></h2>
    <div class="acoes-popup">
      <button class="vk-btn-principal" data-confirm="y">Sim</button>
      <button class="vk-btn-secundario" data-confirm="n">Não</button>
    </div>
  </div>
</div>
